    <% var data = {

        title: 'Вебкам без лица: что это за работа и прибыльна ли она?',
        status: false

    } %>

    <%= _.template(require('./includes/header.html').default)({data}) %>

    <%= _.template(require('./includes/page-head.html').default)({data}) %>

    <!-- Блог -->

    <main class="blog container bg-white pt-10">
        <p class="text-16 text-md-14 bold-4 interval-4 fade-70 mb-5 anim anim--fade -scroll-">
            Твоя работа будет заключаться в общении с пользователями видеочата через Интернет. Общаться надо таким образом, чтобы им было интересно поддерживать общение с тобой как можно дольше – ведь пользователи платят за каждую минуту, проведенную с тобой в чате. В общении с пользователями ты ограничена исключительно своей фантазией, творческим подходом и рамками закона.
        </p>
        <p class="text-20 text-md-18 bold-7 interval-4 mb-10 mb-md-5 anim anim--fade -scroll-">
            Будь собой в самых ярких проявлениях. Позволь себе окунуться в мир неограниченной фантазии и денег
        </p>
        <div class="pic pic--segment bg-grey radius-7 mb-10 mb-md-5 anim anim--right -scroll-">
            <div class="loader">
                <span class="loader__circle">
                    <svg class="icon">
                        <use xlink:href="img/icons.svg#loader" />
                    </svg>
                </span>
            </div>
            <picture>
                <source srcset="img/pictures/article-girl.webp" type="image/webp">
                <img class="pic__img" src="img/pictures/article-girl.jpg" alt="" loading="lazy">
            </picture>
        </div>
        <p class="text-16 text-md-14 bold-4 interval-4 fade-70 mb-10 mb-md-5 anim anim--fade -scroll-">
            Деталями, которые необходимы для более успешной работы, мы поделимся при инструктаже. Все сайты, с которыми мы работаем, заблокированы от российских пользователей, так что за конфиденциальность работы можно не переживать. Предлагаем комфортные условия и высокий заработок. Деталями, которые необходимы для более успешной работы, мы поделимся при инструктаже. Все сайты, с которыми мы работаем, заблокированы от российских пользователей, так что за конфиденциальность работы можно не переживать. Предлагаем комфортные условия и высокий заработок.Твоя работа будет заключаться в общении с пользователями видеочата через Интернет
        </p>
        <p class="text-16 text-md-14 bold-4 interval-4 fade-70 mb-10 mb-md-5 anim anim--fade -scroll-">
            Все сайты, с которыми мы работаем, заблокированы от российских пользователей, так что за конфиденциальность работы можно не переживать. Предлагаем комфортные условия и высокий заработок.Твоя работа будет заключаться в общении с пользователями видеочата через Интернет
        </p>
        <p class="text-16 text-md-14 bold-4 interval-4 fade-70 mb-10 mb-md-5 anim anim--fade -scroll-">
            Деталями, которые необходимы для более успешной работы, мы поделимся при инструктаже. Все сайты, с которыми мы работаем, заблокированы от российских пользователей, так что за конфиденциальность работы можно не переживать. Предлагаем комфортные условия и высокий заработок. Деталями, которые необходимы для более успешной работы, мы поделимся при инструктаже. Все сайты, с которыми мы работаем, заблокированы от российских пользователей, так что за конфиденциальность работы можно не переживать.
        </p>

        <%= _.template(require('./includes/gallery.html').default)({data}) %>

        <p class="text-16 text-md-14 bold-4 interval-4 fade-70 mt-10 mt-md-5 anim anim--fade -scroll-">
            Деталями, которые необходимы для более успешной работы, мы поделимся при инструктаже. Все сайты, с которыми мы работаем, заблокированы от российских пользователей, так что за конфиденциальность работы можно не переживать. Предлагаем комфортные условия и высокий заработок. Деталями, которые необходимы для более успешной работы, мы поделимся при инструктаже. Все сайты, с которыми мы работаем, заблокированы от российских пользователей, так что за конфиденциальность работы можно не переживать. Предлагаем комфортные условия и высокий заработок.Твоя работа будет заключаться в общении с пользователями видеочата через Интернет.
        </p>
    </main>
    
    <%= _.template(require('./includes/footer.html').default)() %>